[Unit]
Description=Timer for service logwatch

[Timer]
Unit=logwatch.service
OnCalendar=*-*-* *:*:00,30
AccuracySec=1s

[Install]
WantedBy=timers.target
