[Unit]
Description=Create log file test.txt

[Service]
Type=simple
WorkingDirectory=/home/andrey/111
ExecStart=/installs/Study/OTUS/lesson_08_SYSTEMD/homework_lesson08_SYSTEMD/scripts/genstring_h.sh

[Install]
WantedBy=multi-user.target
