[Unit]
Description=Log watch, created by script genstring_h.sh
Requires=createlog.service
#BindsTo=createlog.service
#Before=createlog.service

[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/logwatch
ExecStart=/installs/Study/OTUS/lesson_08_SYSTEMD/homework_lesson08_SYSTEMD/scripts/teststring.sh ${log_path} ${alert_word}

