[Unit]
Description=Jira Server
After=network.target

[Service]
Type=forking
User=vagrant
Group=vagrant
Environment="JRE_HOME=/etc/alternatives/jre"
ExecStart=/opt/jira/bin/start-jira.sh
#ExecStop=/opt/jira/bin/stop-jira.sh
#PIDFile=/opt/jira/work/catalina.pid
#SuccessExitStatus=143
#RestartPreventExitStatus=143
#RestartForceExitStatus=143
Restart=on-failure
#RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
